.container {
  margin: 78px 126px 0px 160px;
  height: 591px;
  background-color: #f7f6f6;
  border-radius: 26px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.12);
  padding: 49px 68px 53px 68px;
}

.container h1 {
  color: #000000;
  font-size: 32px;
  font-family: "Vollkorn";
  font-weight: 500;
  line-height: 42px;
}

.tours-container {
  display: flex;
  column-gap: 41px;
  margin-top: 33px;
}
