.container {
  margin-top: 18px;
  margin-bottom: 16px;
  width: 1120px;
  height: 410px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 23px 31px rgba(0, 0, 0, 0.08);
}

.content {
  margin: 16px 16px 16px 16px;
}

.chat-bg {
  width: 1088px;
  height: 320px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 23px 31px rgba(0, 0, 0, 0.08);
}

.form {
  margin-top: 16px;
  display: flex;
}

.input {
  width: 1007px;
  height: 42px;
  padding: 0px 8px;
  border: 1px solid #505050;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #8e8a8a;
  font-size: 16px;
  font-family: "Commissioner";
  font-weight: 400;
  line-height: 19px;
  outline: none;
}

.button {
  cursor: pointer;
  top: 1277px;
  left: 1327px;
  width: 90px;
  height: 40px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.1);
  background-color: #3164f4;
  color: #ffffff;
  font-size: 16px;
  font-family: "Commissioner";
  font-weight: 400;
  line-height: 19px;
  outline: none;
  transition: 0.4s ease-in-out;
}

.button:hover {
  background-color: #d8e0f6;
  color: #000000;
}
